body{
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 900;
  padding: 0;
}

p {
  color: #8f8f8f;
}

/* Heading */

.top-image {
  width: 100px;
}
.big-name {
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 2;
  font-weight: 900;
}

.pro {
  text-decoration: underline;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff
}

.short-intro {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 400;
  padding-top: 0%;
  line-height: 1.5;
}

.Education {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  padding-top: 0%;
  line-height: 1.5;
}

.detailed-intro {
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: 300;
  padding-top: 5%;
  line-height: 1.3;
}


/* Section */
.colored-section {
  background-color: #5988ff;
  color: #fff;
}

.white-section {
    background-color: #fff;
}

#title {
  text-align: left;
}

.container-fluid{
  padding: 3% 15% 7%;
}


/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
  color: black;
}

.navbar-light .navbar-brand {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

/* title-image */

.title-image {
  width: 60%;
  margin-left: 6rem;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* feature */

#background {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}
.background-title {
  padding-bottom: 5%;
}

.feature-row {
  margin-bottom: 1rem;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 5%;
}

.feature-bold {
  font-size: 1.5rem;
}

.font-description {
  color: #8f8f8f;
}

.feature-icon:hover {
  color: #ff4c68
}

/* Testiomonial */

.project-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns in a row */
  gap: 0px; /* Spacing between cards */
}

.research-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns in a row */
  gap: 0px; /* Spacing between cards */
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.project-card .project-text {
  color: #fff;
  opacity: 1;
}

.blog-text {
  color: black;
  opacity: 1;
}

.app-img {
  width:100%;
  height: 11rem;
}

.project-card a {
  text-decoration: none;
}

.project-card img {
  max-width: 100%;
}

.code-paper {
  color: #fff;
  font-style: oblique;
}

.blog-code-paper {
  color: black;
  font-style: oblique;
}
/* Additional styling for h3 and p if needed */


#portfolio {
}
.portfolio-title {
  padding-top: 7%;
  font-size: 3rem;
}

.app-text {
  padding-top: 5%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

.Chinese-app-text {
  padding-top: 3%;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 300;
}

.Chinese-app-title {
  font-size: 1.6rem;
}
.app-title {
  font-size: 2rem
}

.carousel-item {
  padding: 3% 15%;
}

.hover-img {
  position: relative;
}

.hover-img .text1 {
	font-size:		5rem;
	text-align: 		center;
	padding-top:		20%;
	color:			#fff;
}

.hover-img .text2 {
	font-size:		3rem;
	text-align: 		center;
	padding-top:		1%;
	color:			#fff;
}

.hover-img .CWLO-text1 {
	font-size:		5rem;
	text-align: 		center;
	padding-top:		10%;
	color:			#fff;
}



.hover-img .hover-text {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.hover-img:hover .hover-text {
  /*不透明にして表示*/
  opacity: 1;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* experience */
#experience {
  padding: 100px;
}
.experience-description {
  font-size: 1.2rem;
  text-align: left;
}
.job-title {
  font-weight: 400;
  line-height: 1.5;
}
/* Pricing Card  */
#skill {
  padding: 100px;
  color: black;
}

.skill-icon {
  color: #2988bc;
  padding-bottom: 5%;
}

.skill-icon:hover {
  color: black;
}


.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.programing-lng {
  text-align: center;
}

.three-languages-title {
  font-size: 1.5rem;
  padding-bottom: 1.5%;
}

.card {
  padding: 3% 5%;
}

@media (max-width: 1028px) {
  #title {
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* contact */

.contact-text {
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: 400;
  padding-top: 5%;
}
.contact-btns{
  margin: auto 32%;
  padding-top: 2%;
  padding-bottom: 5%;
}
.cta-button {
  margin: 1% 2% 30% 2%;
}

#footer {
  padding: 7% 15%;
  background-color: #fff;
}

.contact-icon {
  margin: 20px 10px;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-facebook {
  color: #3b5998;
}
.fa-envelope {
  color: black;
}
.fa-github {
  color: #171515;
}
